.table--avatar {
  border: 3px;
  height: 100px;
  width: 100px;
  border-radius: 2px;
  padding-top: 6px;
}

#list {
  border-collapse: collapse;
  width: 100%;
}

#list td,
#list th {
  border: 1px solid #ddd;
  /* padding: 8px; */
  text-align: center;
}

#list tr:nth-child(even) {
  background-color: #f2f2f2;
}

#list tr:hover {
  background-color: #ddd;
}

#list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.raw--selected {
  background-color: rgb(163, 219, 163) !important;
}
